.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: black;
}

.app h1 {
  font-size: 5rem;
  margin: 0;
}

.app p {
  font-size: 1.2rem;

}